<footer class="s-footer">
    <div id="horizon">
            <div id="ground"></div>
            <div id="ship">
                    <span class="silhouette"></span>
                    <span class="shadow"></span>
            </div>
            <div id="smoke">
                    <span class="puff p1"></span>
                    <span class="puff p2"></span>
                    <span class="puff p3"></span>
                    <span class="puff p4"></span>
                    <span class="puff p5"></span>
                    <span class="puff p6"></span>
                    <span class="puff p7"></span>
                    <span class="puff p8"></span>
                    <span class="puff p9"></span>
                    <span class="puff p10"></span>
                    <span class="puff p11"></span>
                    <span class="puff p12"></span>
            </div>
    </div>

    <ul class="m-authors">
            <li class="author">Illustrated by <a rel="author nofollow" href="http://www.lorenzograndi.it" class="external" title="Lorenzo Grandi">Lorenzo Grandi</a></li>
            <li class="author">Developed by <a href="http://www.andreaverlicchi.eu" class="external" title="Andrea Verlicchi - Web developer with a passion for front-end">Andrea Verlicchi</a>, <a rel="author nofollow" href="http://www.erodri.com" class="external" title="Emanuele Rodriguez - Nomad developer">Emanuele Rodriguez</a>, <a rel="author nofollow" href="http://about.me/fabbrucci" class="external" title="Fabio Fabbrucci">Fabio Fabbrucci</li>
            <li class="author">Design by <a rel="author" href="http://fromthefront.it" class="external" title="From The Front">From The Front</a></li>
    </ul>

    <ul class="m-corp">
            <li class="link"><a class="external" href="http://fromthefront.it">FROMTHEFRONT.IT</a></li>
            <li class="link"><a href="https://www.iubenda.com/privacy-policy/155299" class="iubenda-nostyle" id="iubenda-embed" title="Privacy Policy">Privacy Policy</a><script>(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; w.addEventListener ? w.addEventListener("load", loader, false) : w.attachEvent("onload", loader);})(window, document);</script></li>
    </ul>

</footer>

<label id="toggleAnimations" for="stopAnim">Toggle animations</label>