<form class="user" method="post" action="{{ path('index') }}">
        <input type="text" name="username" id="handle" placeholder="this is my twitter id..." />
        <button type="submit">find my friend</button>
</form>