
<header class="s-header" role="banner">

    <div id="clouds">
            <span class="cloud c1"></span>
            <span class="cloud c2"></span>
            <span class="cloud c3"></span>
    </div>

    <div id="treasure">
            <a href="{{ path('index') }}" title="Go to the home page">
                {% image '@FTFAttendeeBundle/Resources/public/images/int/hdr_logo_tofel.png' %}
                    <img src="{{ asset_url }}" itemprop="image" alt="The Treasure of FrontEnd Island - Front End Conference" />
                {% endimage %}
            </a>
            <div itemprop="summary" class="summary">The Treasure of FrontEnd Island</div>
            <h1 itemprop="eventType" class="eventType">Front End Conference</h1>
    </div>

    <nav role="navigation" class="n-main">
            <a class="nav-title" href="#">Menu</a>
            <ul class="nav-list">
                    <li class="nav-item"><a href="http://2012.fromthefront.it/">Home</a></li>
                    <li class="nav-item"><a href="http://2012.fromthefront.it/info.html">Info</a></li>
                    <li class="nav-item"><a href="http://2012.fromthefront.it/schedule.html">Schedule</a></li>
                    <li class="nav-item"><a href="http://2012.fromthefront.it/speakers.html">Speakers</a></li>
                    <li class="nav-item"><a href="http://2012.fromthefront.it/workshops.html">Workshops</a></li>
                    <!-- <li class="nav-item"><a href="http://2012.fromthefront.it/hotels.html">Accommodation</a></li> -->
                    <li class="nav-item"><a href="http://2012.fromthefront.it/#cart">Get your ticket!</a></li>
            </ul>
    </nav>

</header>