{% extends '::base.html.twig' %}

{% block javascripts %}
    {{parent()}}

    {% javascripts
        '@FTFAttendeeBundle/Resources/public/js/libs/modernizr.custom.78952.js'
        '@FTFAttendeeBundle/Resources/public/js/libs/mobileEsp.min.js'
        '@FTFAttendeeBundle/Resources/public/js/libs/swipe.min.js'
        '@FTFAttendeeBundle/Resources/public/js/libs/jquery.localscroll-1.2.7-min.js'
        '@FTFAttendeeBundle/Resources/public/js/libs/jquery.scrollTo-1.4.2-min.js'
        '@FTFAttendeeBundle/Resources/public/js/common.js'
        '@FTFAttendeeBundle/Resources/public/js/internal.scope.js'
        '@FTFAttendeeBundle/Resources/public/js/ios-orientationchange-fix.js'
        filter='yui_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>window.jQuery || document.write('<script src="bundles/ftfattendee/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    {% if app.environment == "prod" %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-240287-21']);
            _gaq.push(['_setDomainName', 'fromthefront.it']);
            _gaq.push(['_trackPageview']);
            (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
        
    <!--[if lt IE 7 ]>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
            <script type="text/javascript">window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
{% endblock %}

{% block stylesheets %}

    {% stylesheets
        'bundles/ftfattendee/css/internal.css'
        'bundles/ftfattendee/css/application.css'
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="page">
        {% include 'FTFAttendeeBundle::_header.html.twig' %}

        <div id="main" role="main" class="s-main">
            {% block content %}{% endblock %}    
        </div>
        {% include 'FTFAttendeeBundle::_footer.html.twig' %}
    </div>
{% endblock %}
