{%block content %}
    {% if error %}
        <div class="m-title">
            <h1 class="title friends">Sorry. We reached the limit of request for twitter or user <b>@{{ username }}</b> doesn't exists. Please try again in 1 hour.</h1>
        </div>
    {% else %}
        <div class="m-title">
            <h1 class="title friends">Find your friends</h1>
        </div>
        <p>Friends and Followers of <b>@{{ username }}</b> at From the Front 2012 </p>

        <div class="m-friends">
            {% if not registered %}
                <p>Want to you join them?</p>
            {% endif %}
            {% include 'FTFAttendeeBundle:Default:_users.html.twig' %}
            {% include 'FTFAttendeeBundle::_form.html.twig' %}
        </div>
    {% endif %}
    
{% endblock %}