{% extends 'FTFAttendeeBundle::layout.html.twig' %}

{%block content %}
    {% for att in attendees %}
        {% if loop.first or loop.index0 is divisibleby(6) %}
            <div class="row-fluid">
        {% endif %}
                <div class="span2">
                    <a href="http://twitter.com/{{ att.twitter }}" class="thumbnail well" target="_blank">
                        <img src="http://api.twitter.com/1/users/profile_image?screen_name={{ att.twitter }}&size=bigger" />
                    </a>
                    <h4>{{ att.name }} {{ att.surname }}</h4>
                </div>
        {% if loop.last or loop.index is divisibleby(6) %}
            </div>
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}