{% extends 'FTFAttendeeBundle::layout.html.twig' %}

{%block content %}
    <div class="m-title">
        <h1 class="title friends">Find your friends</h1>
    </div>

    <div class="m-friends">
        <h2 class="title">Check who's coming al posto di find your friends</h2>
        <div class="intro">
                <p>A conference is not only a frontal lesson made by awesome teachers, a conference is an important networking opportunity: get in touch with people you follow online, drink something with your web dev hero or firmly shake your hand to someone you engaged a rough flame with ;)</p>
                <p>Enter your twitter handle and discover whom of your friends or followers is coming to The Treasure of Frontend Island</p>
        </div>
        {% include 'FTFAttendeeBundle::_form.html.twig' %}
        {% include 'FTFAttendeeBundle:Default:_users.html.twig' %}
    </div>
{% endblock %}
            
{% block enum %}
    <small>{{ attendees|length }} with Twitter</small>
{% endblock %}