{% extends 'FTFAttendeeBundle::layout.html.twig' %}

{% block javascripts %}

    {% javascripts
        'bundles/ftfattendee/js/jquery-1.7.2.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{%block content %}
    <div id="results">
        <div class="well">
            <h3>Searching @{{ username }} friends and followers ...</h3>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $.get('{{ path('ajax', { 'username': username }) }}', function(data) {
                $('#results').html(data);
            });
        });
    </script>
{% endblock %}