{% extends 'FTFAttendeeBundle::layout.html.twig' %}

{%block content %}
    <div id="results">
        <div class="well">
            <h3>Searching <b>@{{ username }}</b> friends and followers ...</h3>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $.get('{{ path('ajax', { 'username': username }) }}', function(data) {
                $('#results').html(data);
            });
        });
    </script>
{% endblock %}