.m-friends .friend {
    position: relative;
}
.m-friends .role{
    background-color: #cccccc;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: .8em;
    padding: 2px 3px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    text-align: center;
    display: block;
}
.m-friends .role_Speaker{
    background-color: #0000ff;
}
.m-friends .role_Organizator{
    background-color: #00ff00;
}
.m-friends .friend:hover .handle {
  color: #333333; 
}

a#cart{
    display: block;
    width: 200px;
    background:#C1E2E8;
    color: #4B4A4A;
    font-family: CaslonAntiqueRegular,sans-serif;
    padding: 0px 0px 10px 0px;
    margin: 10px auto;
    font-size: 1.2em;
    outline: none;
}
a#cart:hover{
    outline: none;
}

h2{
    font-weight: bold;
    background:#eeeeee;
    padding: 5px 0px;
    margin-bottom: 10px; 
}